extends layout

block content
	h1
		| Inbox
		
	img(src='./images/corgi.gif' 'width=10%, height=12%' onclick='/success')
	
	label
	// <span class="upass">Forgot <a href="#">password?</a></span>
	p 
		| I've had enough.
		
	p
		a(href='#') Log out.
	