/* Palette:
  background: linear-gradient(to bottom, #373B44, #4286f4);
  button: #94A8DB
  button hover: #FC5C7D
*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Source Code Pro, monospace;
  color: white;
  size: 14px;
  
  background: #373b44;
  background: linear-gradient(to top, #c31432, #240b36);
  
}

a {
  color: /*#00B7FF;*/#d4dcf0;
}

a:hover {
	color: #FC5C7D
}

button {
  background-color: #94A8DB;
  color: white;
  padding: 10px 15px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  font-family: Source Code Pro, monospace;
}

button:hover {
  background-color: #FC5C7D;
}