doctype html
html(lang='en', charset='UTF-8')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="shortcut icon" href="/images/ghost.ico" type="image/x-icon")

	body
	block content
