extends layout

block content
	h1= title
		
	img(src=extra2, 'width=10%, height=12%')
	
	p= extra
		
	
	label
	// <span class="upass">Forgot <a href="#">password?</a></span>
		
	p
		a(href='http://127.0.0.1:3000/logout') Log out.
	
	