extends layout

block content
	h1
		| Welcome, 
		= title
		|.
		
	img(src=extra2, 'width=10%, height=12%')
	
	label
	// <span class="upass">Forgot <a href="#">password?</a></span>
	p 
		a(href='http://127.0.0.1:3000/messages') View messages.
		
	p 
		a(href='http://127.0.0.1:3000/send') Send a message.
		
	p
		a(href='http://127.0.0.1:3000/logout') Log out.
	